################### JavaMail Configuration ##########################
smtp.host=email-smtp.us-east-1.amazonaws.com
smtp.port=465
smtp.protocol=smtps
smtp.username=akiyamayami1@gmail.com
smtp.password=1900561558
support.email=akiyamayami1@gmail.com
